
header {
    box-sizing: border-box;
    background-color: rgb(39, 128, 39);
    padding: 20px;
    text-align: center;
    }
    .Questions {
        box-sizing: border-box;
        color:black;
        background-color: gold;
        padding: 20px;
        font-size: x-large;
        font-weight: bold;
        text-align: center;
    }
    .score {
        box-sizing: border-box;
        background-color:rgb(53, 53, 133);
        color: white;
        padding: 20px;
        text-align: center;
    }
    .time {
        box-sizing: border-box;
        background-color: red;
        padding: 20px;
        text-align: center;
    }
    .answerButton {
        display: block
    }

  
